@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    font-family: "Outfit", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    text-align: center;
    background: #403D39;
}

.calculadora {
    padding: .5% .3%;
    width: 300px;
    height: 400px;
    background: linear-gradient(to bottom, #f35b04, #a54208);
    border-radius: 20px;
    box-shadow: 15px 15px 5px #252422;
}

.pantalla {
    text-align: end;
    margin: 5% auto 0;
    width: 90%;
    height: 20%;
    background: #CCC5B9;
    border-radius: 5px;
    padding: 1.5%;
    color: #252422;
    border: .8px solid #403D39;
    font-size: 20px;
    font-weight: 500;
    resize: none;
}

.btnBorrar {
    margin: 1% auto;
    width: 95%;
    height: 9%;
}

.btnBorrar #borrar {
    width: 40%;
    height: 80%;
}

.btnBorrar #limpiar {
    width: 25%;
    height: 80%;
}

.btnBorrar #btn-historial{
    width:  25%;
    height: 80%;
}

.cuadricula {
    padding: 2% 2%;
    width: 100%;
    height: 55%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.btn {
    width: 22%;
    margin: 1%;
    height: 25%;
    border-radius: 22px;
    font-size: 18px;
    border: none;
    background: #252422;
    color: #FFFCF2;
}

.modal {
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    z-index: 1;
    left: 0;
    top: 0;
    position: fixed;
    background: #25242263;
}

#historial {
    width: 40%;
    height: 60vh;
    margin: auto;
    background: #CCC5B9;
    text-align: left;
    padding: 1%;
    overflow: hidden;
    border-radius: 10px;
    position: relative;
}

#contenido-historial {
    height: 100%;
    overflow-y: auto;
    padding-right: 10px;
    padding-top: 2%;
}

#contenido-historial::-webkit-scrollbar {
    width: 8px;
}

#contenido-historial::-webkit-scrollbar-thumb {
    background-color: #7d7d7d;
    border-radius: 10px;
}

#contenido-historial::-webkit-scrollbar-track {
    background: none;
    border-radius: 10px;
}

#close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    background: transparent;
    border: none;
    cursor: pointer;
    width: 20px;
    height: 20px;
    background-color: #252422;
    font-size: 15px;
    border-radius: 40px;
}

.resultado,
.operacion {
    display: block;
    cursor: pointer;
}